/* This is a single-line comment 
p {
    color: red;
  }
  body{
    background-color: LightGray;
    font-family: "Trirong", serif;
  }

  .container-code > *{
    display: inline-block;
  }

  .test{
    background-color: blue;
    margin: auto;
    max-width: 70%;
  }*/